
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.class
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
vcproject/bin/gui/Order_Panel.class
OCSF/bin/ocsf/server/MySqlConnection.class
OCSF/bin/ocsf/server/MySqlConnection.class
OCSF/bin/ocsf/server/MySqlConnection.class
OCSF/bin/ocsf/server/MySqlConnection.class
vcproject/bin/clientServer/ClientConsole.class
vcproject/bin/controler/Controller.class
vcproject/bin/controler/LogIn_controller.class
vcproject/bin/gui/Order_Panel$1.class
vcproject/bin/gui/Order_Panel$2.class
vcproject/bin/gui/Order_Panel$3.class
vcproject/bin/gui/Order_Panel.class
vcproject/bin/gui/VCP_Main_Frame$1.class
vcproject/bin/gui/VCP_Main_Frame$10.class
vcproject/bin/gui/VCP_Main_Frame$2$1.class
vcproject/bin/gui/VCP_Main_Frame$2$2.class
vcproject/bin/gui/VCP_Main_Frame$2$3.class
vcproject/bin/gui/VCP_Main_Frame$2$4.class
vcproject/bin/gui/VCP_Main_Frame$2.class
vcproject/bin/gui/VCP_Main_Frame$3.class
vcproject/bin/gui/VCP_Main_Frame$4.class
vcproject/bin/gui/VCP_Main_Frame$5.class
vcproject/bin/gui/VCP_Main_Frame$6.class
vcproject/bin/gui/VCP_Main_Frame$7.class
vcproject/bin/gui/VCP_Main_Frame$8$1.class
vcproject/bin/gui/VCP_Main_Frame$8.class
vcproject/bin/gui/VCP_Main_Frame$9.class
vcproject/bin/gui/VCP_Main_Frame.class
OCSF/bin/ocsf/server/MySqlConnection.class
vcproject/bin/clientServer/ClientConsole.class
vcproject/bin/controler/Controller.class
vcproject/bin/controler/LogIn_controller.class
vcproject/bin/gui/Order_Panel$1.class
vcproject/bin/gui/Order_Panel$2.class
vcproject/bin/gui/Order_Panel$3.class
vcproject/bin/gui/Order_Panel.class
OCSF/bin/ocsf/server/MySqlConnection.class
vcproject/bin/clientServer/ClientConsole.class
vcproject/bin/controler/Controller.class
vcproject/bin/controler/LogIn_controller.class
vcproject/bin/gui/Order_Panel$1.class
vcproject/bin/gui/Order_Panel$2.class
vcproject/bin/gui/Order_Panel$3.class
vcproject/bin/gui/Order_Panel.class
vcproject/bin/gui/VCP_Main_Frame$1.class
vcproject/bin/gui/VCP_Main_Frame$10.class
vcproject/bin/gui/VCP_Main_Frame$2$1.class
vcproject/bin/gui/VCP_Main_Frame$2$2.class
vcproject/bin/gui/VCP_Main_Frame$2$3.class
vcproject/bin/gui/VCP_Main_Frame$2$4.class
vcproject/bin/gui/VCP_Main_Frame$2.class
vcproject/bin/gui/VCP_Main_Frame$3.class
vcproject/bin/gui/VCP_Main_Frame$4.class
vcproject/bin/gui/VCP_Main_Frame$5.class
vcproject/bin/gui/VCP_Main_Frame$6.class
vcproject/bin/gui/VCP_Main_Frame$7.class
vcproject/bin/gui/VCP_Main_Frame$8$1.class
vcproject/bin/gui/VCP_Main_Frame$8.class
vcproject/bin/gui/VCP_Main_Frame$9.class
vcproject/bin/gui/VCP_Main_Frame.class
OCSF/bin/ocsf/server/MySqlConnection.class
vcproject/bin/clientServer/ClientConsole.class
vcproject/bin/controler/Controller.class
vcproject/bin/controler/LogIn_controller.class
vcproject/bin/gui/Order_Panel$1.class
vcproject/bin/gui/Order_Panel$2.class
vcproject/bin/gui/Order_Panel$3.class
vcproject/bin/gui/Order_Panel.class
vcproject/bin/gui/VCP_Main_Frame$1.class
vcproject/bin/gui/VCP_Main_Frame$10.class
vcproject/bin/gui/VCP_Main_Frame$2$1.class
vcproject/bin/gui/VCP_Main_Frame$2$2.class
vcproject/bin/gui/VCP_Main_Frame$2$3.class
vcproject/bin/gui/VCP_Main_Frame$2$4.class
vcproject/bin/gui/VCP_Main_Frame$2.class
vcproject/bin/gui/VCP_Main_Frame$3.class
vcproject/bin/gui/VCP_Main_Frame$4.class
vcproject/bin/gui/VCP_Main_Frame$5.class
vcproject/bin/gui/VCP_Main_Frame$6.class
vcproject/bin/gui/VCP_Main_Frame$7.class
vcproject/bin/gui/VCP_Main_Frame$8$1.class
vcproject/bin/gui/VCP_Main_Frame$8.class
vcproject/bin/gui/VCP_Main_Frame$9.class
vcproject/bin/gui/VCP_Main_Frame.class
